<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.Fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @user.Mname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @user.senha %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
