<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Encostaki</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>

<body>
<p id="notice"><%= notice %></p>
<div class="container">
    <section class="header">
        <%= image_tag("logofinal.png", id:"logo")%>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li class=""><%= link_to "Home", "/" %></li>
                   <li><a href="#">Chamados</a></li>
 		           <li><a href="#">Informações</a></li> 
 		     
                  </ul>
                   <% if member_signed_in? %>
                      <% if current_member.name != nil %> 
                        <ul class="nav navbar-nav navbar-right">
                          <li> <%= link_to "Estatísticas", statistcs_path %></li> 		           
         		          <li><%= link_to "Comentários", comentarios_path %></li>
         		          <li class="dropdown">
                             <a data-toggle="dropdown" class="dropdown-toggle" href="/"><%= image_tag(current_member.smallimage) %><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li> <%= current_member.name %></li>
                                    <li><%= link_to "Visualizar Perfil", "/members/1" %></li>
                                    <li><%= link_to "Sair", destroy_member_session_path, method: :delete %></li>
                                </ul>     

                            </ul>     
         		          </li>
                        </ul>
                      <%else%>
                            <ul class="nav navbar-nav navbar-right">
                              <li> <%= link_to "Estatísticas", statistcs_path %></li>
                              <li class="dropdown">
                                  <a data-toggle="dropdown" class="dropdown-toggle" href="/"> Chamados <b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><%= link_to "Visualizar todos chamados", support_requests_path %></li>
                                    <li><%= link_to "Abrir chamado", new_support_request_path %></li>
                                </ul>     
                              </li>
             		          <li><%= link_to "Comentários", comentarios_path %></li>
             		          <% if current_member.admin?%>
                                <li><%= link_to "Áreas de Risco", areas_path %></li>
                                <li><%= link_to "Cadastro de Áreas de Risco", new_area_path %></li>
                                <li><%= link_to "Áreas de Risco", areas_path %></li>
 		                      <%end%>
  
                              <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= image_tag(current_member.avatar.url(:thumb)) %> <b class="caret"></b></a>
                            
                                <ul class="dropdown-menu">
                                    <li> <%= current_member.email %></li>
                                    <li><%= link_to "Visualizar Perfil", "/members/1" %></li>
                                    <li><%= link_to "Alterar meus dados", edit_member_registration_path %></li>
                                    <li><%= link_to "Sair", destroy_member_session_path, method: :delete %></li>
                                </ul>     
                              </li>
                              
                            </ul>
                      <% end %> 
                  
                  <% else %>
                    <ul class="nav navbar-nav navbar-right">
                       <li> <%= link_to "Estatísticas", statistcs_path , data: { confirm: "Você precisa estar logado para utilizar desse recurso!" }%></li> 		           
         		       <li><%= link_to "Comentários", comentarios_path , data: { confirm: "Você precisa estar logado para utilizar desse recurso!" }%></li>
         		       <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="/"> Chamados <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Visualizar todos chamados", "/", data: { confirm: "Você precisa estar logado para utilizar desse recurso!" } %></li>
                                <li><%= link_to "Abrir chamado", "/", data: { confirm: "Você precisa estar logado para utilizar desse recurso!" } %></li>
                            </ul>     
                        </li>
                      <li><%= link_to "Login", new_member_session_path %></li>
                      <li><%= link_to "Cadastrar", new_member_registration_path,name:"Cadastrar" %></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </nav>    	    
            </div>
                       
        </div>
    </section>
    
    
    
</div>

<div id="esquerda">
<div id="map">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type= "text/javascript">
            //Opções de iniciação do mapa

            function initMap() {
                debugger;
                var centro = {lat: -8.128666, lng: -34.951344}
                var map = new google.maps.Map(document.getElementById('map'), {
               
                zoom: 14,
                center: centro
                
              });
               $.getJSON('dados.json', function(pontos) {
                 for (var i = 0; i < pontos.points.length; i++){
                   debugger;
                   console.log(pontos.points[ String(i) ].latitude);
                   var la = pontos.points[String(i)].latitude;
                   var lg = pontos.points[String(i)].longitude;
                   var latLng = {lat: la,lng: lg};
                 //console.log(latLng);
                   var marker = new google.maps.Marker({
                   position: latLng,
                   map: map,
                   icon: 'logopin.png'
                     });
                  
                    console.log(marker); 
                   }

              });
            }
            
            //Função de carregar pontos do Json e jogar no mapa
            
            //Infoboxes 
            
            
            //debugger;
           
 
        
        </script>
        
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVW_TaNxAKo2ATMVcdf2Q1YQlFe_H7-zY&callback=initMap">
</script>
</div>
        
</div>
</body>
</html>

            