<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @ticket.ano %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @ticket.mes %>
</p>

<p>
  <strong>Processo numero:</strong>
  <%= @ticket.processo_numero %>
</p>

<p>
  <strong>Solicitacao data:</strong>
  <%= @ticket.solicitacao_data %>
</p>

<p>
  <strong>Solicitacao hora:</strong>
  <%= @ticket.solicitacao_hora %>
</p>

<p>
  <strong>Solicitacao descricao:</strong>
  <%= @ticket.solicitacao_descricao %>
</p>

<p>
  <strong>Solicitacao regional:</strong>
  <%= @ticket.solicitacao_regional %>
</p>

<p>
  <strong>Solicitacao bairro:</strong>
  <%= @ticket.solicitacao_bairro %>
</p>

<p>
  <strong>Solicitacao localidade:</strong>
  <%= @ticket.solicitacao_localidade %>
</p>

<p>
  <strong>Solicitacao endereco:</strong>
  <%= @ticket.solicitacao_endereco %>
</p>

<p>
  <strong>Solicitacao roteiro:</strong>
  <%= @ticket.solicitacao_roteiro %>
</p>

<p>
  <strong>Rpa codigo:</strong>
  <%= @ticket.rpa_codigo %>
</p>

<p>
  <strong>Rpa nome:</strong>
  <%= @ticket.rpa_nome %>
</p>

<p>
  <strong>Solicitacao microrregiao:</strong>
  <%= @ticket.solicitacao_microrregiao %>
</p>

<p>
  <strong>Solicitacao plantao:</strong>
  <%= @ticket.solicitacao_plantao %>
</p>

<p>
  <strong>Solicitacao origem chamado:</strong>
  <%= @ticket.solicitacao_origem_chamado %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @ticket.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ticket.longitude %>
</p>

<p>
  <strong>Solicitacao vitimas:</strong>
  <%= @ticket.solicitacao_vitimas %>
</p>

<p>
  <strong>Solicitacao vitimas fatais:</strong>
  <%= @ticket.solicitacao_vitimas_fatais %>
</p>

<p>
  <strong>Solicitacao vitimas fatais:</strong>
  <%= @ticket.solicitacao_vitimas_fatais %>
</p>

<p>
  <strong>Processo tipo:</strong>
  <%= @ticket.processo_tipo %>
</p>

<p>
  <strong>Processo origem:</strong>
  <%= @ticket.processo_origem %>
</p>

<p>
  <strong>Processo localizacao:</strong>
  <%= @ticket.processo_localizacao %>
</p>

<p>
  <strong>Processo status:</strong>
  <%= @ticket.processo_status %>
</p>

<p>
  <strong>Processo data conclusao:</strong>
  <%= @ticket.processo_data_conclusao %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
