<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Encostaki</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <%= stylesheet_link_tag "css/bootstrap" %>
    <link href="css/cadastro.css" type="text/css"  rel="stylesheet">
</head>
<%= devise_error_messages! %>
<body>
  <div class="container-fluid">
    <div class="row" id="site">
      <div class="col-md-4">
        <div id="esquerda-l">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div id="centro">
          <h1>Cadastro</h1>
          <%= image_tag("logopinfinal.png",id:"logopin")%>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <div class="field">
              <p>Email</p>
              <%= f.email_field :email, autofocus: true %>
            </div>
          
            <div class="field">
              <p>Senha</p>
              <% if @minimum_password_length %>
                <em><p1>(<%= @minimum_password_length %> caracteres no mínimo)</p1></em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <div class="field">
              <p>Confirmar Senha</p>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              
            </div>
          
            <div class="actions">
              <button class="btn btn-warning"><% f.submit %>Cadastrar</button>
              
            </div>
            
<% end %>


<p>Já possui conta? <%= render "members/shared/links" %></p>
<p>Voltar ao <%= link_to "Menu Principal", root_path %></p>
