<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Encostaki</title>
    <link rel="icon" href="imgs\logopinfinal.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <%= stylesheet_link_tag "css/bootstrap" %>
    <link href="css/cadastro.css" type="text/css"  rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row" id="site">
      <div class="col-md-4">
        <div id="esquerda-l">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div id="centro">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="field">
              <p><%= f.label "Email" %></p><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          
            <div class="field">
              <p><%= f.label "Senha" %></p>
              <% if @minimum_password_length %>
              <em><p>(<%= @minimum_password_length %> caracteres no mínimo)</p></em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <div class="field">
              <p><%= f.label "Confirmar Senha" %><br/></p>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          
            <div class="actions">
              <%= f.submit "Sign up"%>
            </div>
            <p>Voltar ao <%= link_to "Menu Principal", root_path %></p>
<% end %>

<%= render "members/shared/links" %>
