<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @support_request.ano %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @support_request.mes %>
</p>

<p>
  <strong>Processo numero:</strong>
  <%= @support_request.processo_numero %>
</p>

<p>
  <strong>Solicitacao data:</strong>
  <%= @support_request.solicitacao_data %>
</p>

<p>
  <strong>Solicitacao hora:</strong>
  <%= @support_request.solicitacao_hora %>
</p>

<p>
  <strong>Solicitacao descricao:</strong>
  <%= @support_request.solicitacao_descricao %>
</p>

<p>
  <strong>Solicitacao regional:</strong>
  <%= @support_request.solicitacao_regional %>
</p>

<p>
  <strong>Solicitacao bairro:</strong>
  <%= @support_request.solicitacao_bairro %>
</p>

<p>
  <strong>Solicitacao localidade:</strong>
  <%= @support_request.solicitacao_localidade %>
</p>

<p>
  <strong>Solicitacao endereco:</strong>
  <%= @support_request.solicitacao_endereco %>
</p>

<p>
  <strong>Solicitacao roteiro:</strong>
  <%= @support_request.solicitacao_roteiro %>
</p>

<p>
  <strong>Rpa codigo:</strong>
  <%= @support_request.rpa_codigo %>
</p>

<p>
  <strong>Rpa nome:</strong>
  <%= @support_request.rpa_nome %>
</p>

<p>
  <strong>Solicitacao microrregiao:</strong>
  <%= @support_request.solicitacao_microrregiao %>
</p>

<p>
  <strong>Solicitacao plantao:</strong>
  <%= @support_request.solicitacao_plantao %>
</p>

<p>
  <strong>Solicitacao origem chamado:</strong>
  <%= @support_request.solicitacao_origem_chamado %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @support_request.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @support_request.longitude %>
</p>

<p>
  <strong>Solicitacao vitimas:</strong>
  <%= @support_request.solicitacao_vitimas %>
</p>

<p>
  <strong>Solicitacao vitimas fatais:</strong>
  <%= @support_request.solicitacao_vitimas_fatais %>
</p>

<p>
  <strong>Processo tipo:</strong>
  <%= @support_request.processo_tipo %>
</p>

<p>
  <strong>Processo origem:</strong>
  <%= @support_request.processo_origem %>
</p>

<p>
  <strong>Processo localizacao:</strong>
  <%= @support_request.processo_localizacao %>
</p>

<p>
  <strong>Processo status:</strong>
  <%= @support_request.processo_status %>
</p>

<p>
  <strong>Processo data conclusao:</strong>
  <%= @support_request.processo_data_conclusao %>
</p>

<%= link_to 'Edit', edit_support_request_path(@support_request) %> |
<%= link_to 'Back', support_requests_path %>
