<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @membro.admin %>
</p>

<p>
  <strong>Email:</strong>
  <%= @membro.email %>
</p>

<%= link_to 'Edit', edit_membro_path(@membro) %> |
<%= link_to 'Back', membros_path %>
